.pokemon-card {
font-family:Arial, Helvetica, sans-serif;
margin: 0 5px 50px;
display: flex;
width: 215px;
flex-direction: column;


}
.pokemon-card__image {
background: #f4f4f4;
}

.pokemon-card__number,
.pokemon-card__name {
padding: 0 10px;
}

.pokemon-card__number{
    color:#919191;
    font-size: 80%;
    padding-top: 2px;
}

.pokemon-card__name{
    color:#313131;
    font-size: 145%;
    margin: 0.5em 0 5px;
    margin-bottom: 5px;
}

.pokemon-card__types {
display: flex;
}
.pokemon-card__type{
margin: 0 10px;
border-radius: 3px;
line-height: 18px;
max-width: 110px;
width: 38.4375%;
float: left;
text-transform: none;
font-size: 11px;
text-align: center;
}

.pokemon--card__type--grass{
    color:#212121;
    background: #acde62;
    font-weight: bold;
}
.pokemon--card__type--poison{
    color:#ffffff;
    background: #e082e7;
    font-weight: bold;
}